@font-face {
  font-family: 'Archia';
  font-weight: 400;
  src: url('../fonts/archia-regular-webfont.woff2') format('woff2'),
    url('../fonts/archia-regular-webfont.woff') format('woff'),
    url('../fonts/archia-regular-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'Archia';
  font-weight: 500;
  src: url('../fonts/archia-medium-webfont.woff2') format('woff2'),
    url('../fonts/archia-medium-webfont.woff') format('woff'),
    url('../fonts/archia-medium-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'Archia';
  font-weight: 600;
  src: url('../fonts/archia-semibold-webfont.woff2') format('woff2'),
    url('../fonts/archia-semibold-webfont.woff') format('woff'),
    url('../fonts/archia-semibol-webfont.ttf') format('ttf');
}

@font-face {
  font-family: 'Archia';
  font-weight: 700;
  src: url('../fonts/archia-bold-webfont.woff2') format('woff2'),
    url('../fonts/archia-bold-webfont.woff') format('woff'),
    url('../fonts/archia-bold-webfont.ttf') format('ttf');
}

body {
  font-family: 'Archia', sans-serif;
}
