@mixin width($width) {
  width: $width;
}

.shapes {
  position: absolute;
  z-index: -3;
}

/* Header */

header {
  img.top-circle {
    @include width(35%);
    top: 0;
    right: 0;
  }
}

/* Skills Section */

section.skills {
  img.dots {
    @include width(32%);
    top: -6vw;
    right: 0;
  }

  img.left-square {
    @include width(45%);
    top: 15%;
    left: 0;
  }

  img.right-square {
    @include width(40%);
    top: 13%;
    right: 0;
  }
}

/* Connect Section */

section.connect {
  img.square {
    @include width(25%);
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  img.circle {
    @include width(16%);
    top: 0;
    right: 0;
    z-index: 1;
  }
}
