@mixin shape-width($width) {
  width: $width;
}

.shapes {
  position: absolute;
  z-index: -2;
}

/* Header */

header {
  .top-circle {
    @include shape-width(35%);
    top: 0;
    right: 0;
  }
}

/* Skills Section */

.skills {
  .dots {
    @include shape-width(32%);
    top: -6vw;
    right: 0;
  }

  .left-square {
    @include shape-width(45%);
    top: 15%;
    left: 0;
  }

  .right-square {
    @include shape-width(40%);
    top: 13%;
    right: 0;
  }
}

/* Connect Section */

.connect {
  .square {
    @include shape-width(25%);
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .circle {
    @include shape-width(16%);
    top: 0;
    right: 0;
    z-index: 1;
  }
}
