@import '_base';
@import 'fonts';
@import 'shapes';
@import 'stars';

// Main Styles

body {
  font-family: 'Archia', sans-serif;
  font-size: 2rem;
  color: #594a4e;

  background-color: #faeee7;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

h1,
h2 {
  font-size: 7.5rem;
  color: #33272a;
  z-index: 1;
}

// Helper Classes

@mixin margins() {
  max-width: 1000px;
  //centers the elements
  margin: 60px auto 0 auto;
  padding: 20px;
}

.unclickable {
  pointer-events: none;
}

section {
  position: relative;
}

// Header Styles

header {
  @include margins();

  .intro {
    margin-top: 72px;
    max-width: 870px;
    margin-bottom: 75px;
  }

  p {
    line-height: 1.25;
  }
}
/* Skills Section  */

section.skills {
  h2 {
    @include margins();
  }
  .skillset {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 5%;
  }

  .dev-skills,
  .des-skills {
    width: 100%;
    text-align: center;
    position: relative;
  }

  div img {
    margin-top: 5%;
    width: 65%;
  }
}

// Projects Section

section.projects {
  position: relative;
  background-color: #ffc6c7;
  z-index: 1;
  overflow: hidden;

  h2 {
    @include margins();
  }

  div.proj-list {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 50px auto 0 auto;
    padding: 20px 20px 40px 20px;
  }

  a.proj-left {
    width: 50%;
    padding-right: 15px;
  }

  a.proj-right {
    width: 50%;
    margin-top: 35px;
    padding-left: 15px;
  }
}

// CONTENT SECTION

section.connect {
  min-height: 100vh;
  padding-top: 20px;
  position: relative;
  background-color: #c3f0ca;

  h2 {
    margin-bottom: 0;
    @include margins();
  }

  p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
  }

  div.pfp,
  div.left,
  div.right {
    z-index: 2;
  }

  div.left,
  div.right {
    padding-top: 15px;
  }

  div.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  div.pfp {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    z-index: 2;
  }

  div.left {
    width: 32%;
    padding-left: 10px;
    margin-right: 20px;
  }

  div.right {
    width: 32%;
    padding-right: 10px;
  }

  div.content img {
    margin-top: 20px;
  }
}

// MEDIA QUERIES

@media (max-width: 1065px) {
  section.skills div img {
    width: 80%;
  }
}

@media (max-width: 885px) {
  section.skills {
    div.skillset {
      margin-bottom: 150px;
    }

    img.left-square {
      width: 200px;
      top: 50px;
    }

    img.right-square {
      width: 165px;
      top: 55px;
    }
  }

  section.connect {
    div.content {
      flex-direction: column;
    }

    h2 {
      margin-bottom: 25px;
    }

    div.pfp {
      width: 70%;
    }

    div.left,
    div.right {
      width: 60%;
    }

    div.pfp,
    div.left,
    div.right {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    div.right {
      margin-bottom: 50px;
    }

    img.square {
      width: 225px;
    }
  }
}

@media (max-width: 720px) {
  section.skills {
    img.left-square {
      top: 95px;
    }
    img.right-square {
      top: 100px;
    }

    div.dev-skills {
      margin-bottom: 50px;
    }
    div.skillset {
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      margin-top: 50px;
      margin-bottom: 100px;
    }
  }

  header div.intro {
    margin-top: 72px;
    margin-bottom: 10px;
  }

  section.projects {
    img.star {
      width: 35px;
    }

    div.proj-list {
      flex-direction: column;
    }

    a.proj-left,
    a.proj-right {
      width: 100%;
      margin: 0;
      padding: 8px;
      transform: translateX(-3%);
    }
  }

  section.connect {
    p {
      font-size: 10px;
    }

    div.pfp {
      width: 60%;
      margin-bottom: 20px;
    }

    div.left,
    div.right {
      width: 80%;
    }

    img.circle {
      width: 200px;
    }

    img.square {
      width: 120px;
    }
  }
}

@media (max-width: 365px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 46px;
  }

  section.skills {
    img.left-square {
      width: 110px;
      top: 95px;
    }
    img.right-square {
      width: 100px;
      top: 100px;
    }
  }

  section.connect p {
    font-size: 8px;
  }
}
