@import '_base';
@import 'fonts';
@import 'shapes';
@import 'stars';

$med: 900px;
$small: 600px;

$fontbody: #594a4e;
$fontheading: #33272a;

$primarybg: #faeee7;
$secondarybg: #ffc6c7;
$tertiarybg: #c3f0ca;

@mixin mq($width) {
  @media (max-width: $width) {
    @content;
  }
}

%width {
  max-width: 925px;
}

%margins {
  margin: 3rem auto 0 auto;
  padding: 20px;
}

%heading {
  @include mq($small) {
    font-size: 4.2rem;
  }
  font-size: 7.5rem;
  color: $fontheading;
  z-index: 1;
}

%grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
}

%socials {
  padding-top: 10px;
  padding-left: 5px;
  margin-right: 10px;
  z-index: 2;
}

%grid-med {
  @include mq($med) {
    grid-template-columns: 1fr !important;
    justify-items: center;
  }
}

%socials-med {
  @include mq($med) {
    width: 80%;
    margin: 0;
    padding: 0;
  }
}

%marg-bot-med {
  @include mq($med) {
    margin-bottom: 50px;
  }
}

//-----------------
// Main Styles
//-----------------

.unclickable {
  pointer-events: none;
}

body {
  @include mq($small) {
    font-size: 1.7rem;
  }
  font-size: 2rem;
  color: $fontbody;
  background-color: $primarybg;
  line-height: 1.1;
}

p {
  line-height: 1.25;
}

h1 {
  @extend %heading;
  font-weight: 600;
}

h2 {
  @extend %heading;
  @extend %width;
  @extend %margins;
  font-weight: 500;
}

strong {
  font-weight: 700;
}

section {
  position: relative;
}

//-----------------
// Header Styles
//-----------------
header {
  @extend %width;
  @extend %margins;

  .intro {
    margin-top: 4rem;
    margin-bottom: 75px;
  }
}

//-----------------
// Skills Styles
//-----------------
.skills {
  .skillset {
    @extend %grid;
    @extend %grid-med;
    margin-top: 50px;
    margin-bottom: 5%;
  }

  .dev-skills,
  .des-skills {
    @extend %marg-bot-med;
    text-align: center;
    position: relative;
  }

  img {
    margin-top: 5%;
    width: 65%;
  }
}

//-----------------
// Projects Section
//-----------------
.projects {
  background-color: $secondarybg;
  z-index: 1;
  overflow: hidden;
  .proj-list {
    @extend %grid;
    @extend %grid-med;
    @extend %margins;
    @include mq($med) {
      transform: translateX(-3%);
    }
    max-width: 80%;
  }

  .offset {
    @include mq($med) {
      padding-top: 0px;
    }
    padding-top: 30px;
  }

  .star {
    @include mq($med) {
      width: 30px !important;
    }
    width: 50px;
  }

  a {
    margin-bottom: 20px;
  }
}

//-----------------
// CONTENT SECTION
//-----------------
.connect {
  min-height: 100vh;
  padding-top: 20px;
  background-color: $tertiarybg;

  .content {
    @extend %grid-med;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .pfp {
    @include mq($med) {
      width: 60%;
    }
    padding: 1vw;
    z-index: 2;
  }

  .left,
  .right {
    @extend %socials;
    @extend %socials-med;
  }

  .right {
    @extend %marg-bot-med;
  }

  .content img {
    margin-top: 20px;
  }

  p {
    @include mq($small) {
      font-size: 0.7rem;
    }
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
  }
}
