@import '_base';
@import 'fonts';
@import 'shapes';
@import 'stars';

%width {
  max-width: 925px;
}

%margins {
  margin: 3rem auto 0 auto;
  padding: 20px;
}

%heading {
  font-size: 7.5rem;
  color: #33272a;
  z-index: 1;
}

%grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// Main Styles

body {
  font-size: 2rem;
  color: #594a4e;
  background-color: #faeee7;
  line-height: 1.1;
}

p {
  line-height: 1.25;
}

h1 {
  font-weight: 600;
  @extend %heading;
}

h2 {
  font-weight: 500;
  @extend %heading;
}

strong {
  font-weight: 700;
}

section {
  position: relative;
}

.unclickable {
  pointer-events: none;
}

// Header Styles

header {
  @extend %width;
  @extend %margins;

  .intro {
    margin-top: 4rem;
    margin-bottom: 75px;
  }
}

// Skills Styles

section.skills {
  h2 {
    @extend %width;
    @extend %margins;
  }
  .skillset {
    @extend %grid;
    margin-top: 50px;
    margin-bottom: 5%;
  }

  .dev-skills,
  .des-skills {
    text-align: center;
    position: relative;
  }

  div img {
    margin-top: 5%;
    width: 65%;
  }
}

// Projects Section

section.projects {
  background-color: #ffc6c7;
  z-index: 1;
  overflow: hidden;

  h2 {
    @extend %width;
    @extend %margins;
  }

  div.proj-list {
    @extend %grid;
    @extend %margins;
    max-width: 85%;
  }
}

// CONTENT SECTION

section.connect {
  min-height: 100vh;
  padding-top: 20px;
  background-color: #c3f0ca;

  h2 {
    @extend %width;
    @extend %margins;
  }

  p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
  }

  div.pfp,
  div.left,
  div.right {
    z-index: 2;
    width: 30%;
  }

  div.left,
  div.right {
    // Centers the text better
    padding-top: 10px;
  }

  div.content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  div.pfp {
    text-align: center;
    margin-right: 20px;
  }

  div.left {
    padding-left: 10px;
    margin-right: 20px;
  }

  div.right {
    padding-right: 10px;
  }

  div.content img {
    margin-top: 20px;
  }
}

// MEDIA QUERIES

@media (max-width: 885px) {
  section.connect {
    div.content {
      flex-direction: column;
    }

    h2 {
      margin-bottom: 25px;
    }

    div.pfp {
      width: 70%;
    }

    div.left,
    div.right {
      width: 60%;
    }

    div.pfp,
    div.left,
    div.right {
      margin: 0;
      padding: 0;
      text-align: center;
    }

    div.right {
      margin-bottom: 50px;
    }

    img.square {
      width: 225px;
    }
  }
}

@media (max-width: 720px) {
  section.skills {
    img.left-square {
      top: 95px;
    }
    img.right-square {
      top: 100px;
    }

    div.dev-skills {
      margin-bottom: 50px;
    }
    div.skillset {
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      margin-top: 50px;
      margin-bottom: 100px;
    }
  }

  header div.intro {
    margin-top: 72px;
    margin-bottom: 10px;
  }

  section.projects {
    img.star {
      width: 35px;
    }

    div.proj-list {
      flex-direction: column;
    }

    a.proj-left,
    a.proj-right {
      width: 100%;
      margin: 0;
      padding: 8px;
      transform: translateX(-3%);
    }
  }

  section.connect {
    p {
      font-size: 10px;
    }

    div.pfp {
      width: 60%;
      margin-bottom: 20px;
    }

    div.left,
    div.right {
      width: 80%;
    }

    img.circle {
      width: 200px;
    }

    img.square {
      width: 120px;
    }
  }
}

@media (max-width: 365px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 46px;
  }

  section.skills {
    img.left-square {
      width: 110px;
      top: 95px;
    }
    img.right-square {
      width: 100px;
      top: 100px;
    }
  }

  section.connect p {
    font-size: 8px;
  }
}
